.samplefront {
  background-image: url('../../assets/samplefront.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
  display:inline-block;
}
.sampleback {
  background-image: url('../../assets/sampleback.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
  width: 400px;
    display:inline-block;

}
